<div class="">
  <%= current_school_admin.email %>
</div>
<a href="<%= new_school_admins_batch_url() %>">Create new batch</a>

<% if @school %>
  welcome to <%= @school.name %>
  <div class="">
    <% @batches.each do |batch| %>
      <li>
        <%= batch.name %>
        <a href="<%= school_admins_batch_url(batch.id) %>"> view details</a>
        <a href="<%= edit_school_admins_batch_url(batch.id) %>">edit details</a>
      </li>
    <% end %>
  </div>
  <%= will_paginate @batches %>

<% else %>
  <div class="">
    please Join a school
  </div>
<% end %>