name: <%= @batch.name %>

<br>
enrolled students: 
<% @student_batches.each do |batch| %>
<li>
  <%= batch.student.email %>: <%= batch.status %> 
  <% if batch.pending? %>
    <%= link_to 'click to approve', approve_school_admins_batch_url(id: @batch.id, student_batch_id: batch.id), class: '', data: { "turbo-method": :put } %>
    <%= link_to 'click to reject', reject_school_admins_batch_url(id: @batch.id, student_batch_id: batch.id), class: '', data: { "turbo-method": :put } %>
  <% end %>
</li>
<% end %>
<%= will_paginate @student_batches %>
<br>
view available courses: <a href="<%= school_admins_batches_courses_url(@batch.id) %>">click here</a> 